[Unit]
Description=Watchdog Background Script
After=multi-user.target

[Service]
ExecStart=/home/USER/wd_run.sh
WorkingDirectory=/home/USER/
StandardOutput=journal
StandardError=journal
Restart=on-failure
User=USER

[Install]
WantedBy=multi-user.target
